html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0 20px;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Overpass, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Overpass, cursive;
  margin: 0 20px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin: 0 20px;
}
img {
  max-width: 480px;
  width: 94%;
  height: auto;
  margin: 3%;
}
.container {
  max-width: 500px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: #6195ed;
}
.aboutImages {
  margin: 0 20px;
}
.aboutImages .aboutImg {
  max-width: 18%;
  height: 100px;
  border: none;
}
.aboutImages .aboutImg:hover {
  cursor: pointer;
}
.aboutMain {
  margin-top: 20px;
}
.aboutContent {
  text-align: left;
  margin-top: 20px;
}
.aboutContent .content {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}
.aboutContent .content h2 {
  margin-top: 20px;
}
.aboutContent .content h3 {
  margin-top: 10px;
  font-size: 20px;
}
.aboutContent .content p {
  margin-top: 10px;
}
.aboutContent .content span a {
  text-decoration: none;
  font-size: 16px;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    color: #212529;
  }
  100% {
    color: #75e7f0;
  }
}
.aboutContent .change {
  display: block;
}
.contact-article .contactH1 {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
.contact-article h2 {
  font-size: 24px;
}
.contact-article a {
  text-decoration: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0.2;
  top: 0;
  left: 0;
  background-color: darkgray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #818181;
}
#span {
  font-size: 30px;
  margin-left: 20px;
}
#span:hover {
  cursor: pointer;
}
.footer {
  max-width: 500px;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 50px;
}
.footer #footerAnchor {
  max-width: 500px;
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid black;
  padding: 2%;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.footer #footerAnchor:hover {
  color: red;
}
.footer p {
  text-align: center;
  margin-top: 20px;
  color: white;
}
.demo {
  font-size: 18px;
}
.demo input {
  border: 1px solid black;
  width: auto;
  height: 20px;
}
.main-article {
  margin-top: 20px;
}
.article {
  margin-top: 20px;
}
.getReminded {
  margin-top: 20px;
}
.relaxe {
  margin-top: 20px;
}
.relaxe h2 {
  margin-top: 20px;
}
