html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0 20px;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Overpass, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Overpass, cursive;
  margin: 0 20px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin: 0 20px;
}
img {
  max-width: 480px;
  width: 94%;
  height: auto;
  margin: 0 3%;
}
.container {
  max-width: 500px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: #6195ed;
}
#span {
  margin-left: 20px;
}
.aboutImages {
  margin: 0 20px;
}
.aboutImages .aboutImg {
  max-width: 18%;
  height: 80px;
  border: none;
}
.aboutImages .aboutImg:hover {
  cursor: pointer;
}
.aboutMain {
  margin-top: 20px;
}
.aboutContent {
  text-align: left;
  margin-top: 20px;
}
.aboutContent .content {
  margin-top: 10px;
  display: none;
}
.aboutContent .content h2 {
  margin-top: 20px;
}
.aboutContent .content h3 {
  margin-top: 10px;
  font-size: 20px;
}
.aboutContent .content p {
  margin-top: 10px;
}
.aboutContent .content span a {
  text-decoration: none;
  font-size: 16px;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    color: #212529;
  }
  100% {
    color: #75e7f0;
  }
}
.contact-article .contactH1 {
  text-align: center;
  font-size: 30px;
  margin: 20px 0;
}
.contact-article h2 {
  font-size: 24px;
}
.contact-article a {
  text-decoration: none;
}
@media (max-width: 1480px) {
  .container {
    max-width: 1024px;
    width: 100%;
  }
  img {
    max-width: 1024px;
    width: 94%;
    height: auto;
    margin: 3%;
  }
  .aboutImages {
    margin: 0 20px;
  }
  .aboutImages .aboutImg {
    max-width: 18%;
    height: 180px;
    border: none;
  }
  .aboutImages .aboutImg:hover {
    cursor: pointer;
  }
}
@media (max-width: 880px) {
  .container {
    max-width: 880px;
    width: 100%;
    background: #6195ed;
  }
  .flip-box {
    display: none;
  }
}
@media (max-width: 650px) {
  .container {
    max-width: 650px;
    width: 100%;
    background: #6195ed;
  }
  .aboutImages {
    margin: 0 20px;
  }
  .aboutImages .aboutImg {
    max-width: 18%;
    height: 120px;
    border: none;
  }
  .aboutImages .aboutImg:hover {
    cursor: pointer;
  }
}
#displayTime {
  text-align: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 0.2;
  top: 0;
  left: 0;
  background-color: #6195ed;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #212529;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #212529;
}
#span {
  font-size: 30px;
  margin-left: 20px;
}
#span:hover {
  cursor: pointer;
}
#getStarted {
  font-size: 16px;
  text-decoration: none;
  margin: 0 0 100px 6px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 4px 4px 0 4px;
}
#getStarted:hover {
  background: gray;
}
.footer {
  max-width: 500px;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 50px;
}
.footer #footerAnchor {
  max-width: 500px;
  width: 100%;
  display: block;
  text-align: center;
  border: 1px solid black;
  padding: 2%;
  font-size: 16px;
  text-decoration: none;
  color: midnightblue;
}
.footer #footerAnchor:hover {
  color: red;
  background: #86a5d6;
}
.footer p {
  text-align: center;
  margin-top: 20px;
  color: white;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    color: #083077;
  }
  100% {
    color: #092524;
  }
}
@media (max-width: 1480px) {
  .footer {
    max-width: 1024px;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 50px;
  }
  .footer #footerAnchor {
    max-width: 1024px;
    width: 100%;
    display: block;
    justify-content: space-between;
    border: 1px solid black;
    padding: 1%;
    font-size: 16px;
    text-decoration: none;
    color: midnightblue;
  }
  .footer #footerAnchor:hover {
    color: red;
  }
  .footer p {
    text-align: center;
    margin-top: 20px;
    color: white;
  }
}
.main-article {
  margin-top: 20px;
}
.imgArticle {
  display: flex;
}
.imgReminded {
  display: flex;
}
.article {
  margin-top: 10px;
}
.getReminded {
  margin-top: 10px;
}
.relaxe {
  margin-top: 10px;
}
.relaxe h2 {
  margin-top: 10px;
}
#form {
  font-size: 16px;
}
#form input[type="checkbox"] {
  transform: scale(2);
  margin-left: 6%;
}
