html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  margin: 0 20px;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Overpass, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Overpass, cursive;
  margin: 0 20px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin: 0 20px;
}
img {
  max-width: 480px;
  width: 100%;
  height: auto;
}
.container {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #6195ed;
}
.aboutImages {
  margin: 0 20px;
}
.aboutImages .aboutImg {
  max-width: 105px;
  height: 100px;
  border: 1px solid blue;
  border-radius: 10px;
}
.aboutImages .aboutImg:hover {
  cursor: pointer;
}
.aboutContent {
  text-align: left;
  margin-top: 20px;
}
.aboutContent .content {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  display: none;
}
.aboutContent .content h2 {
  margin-top: 20px;
}
.aboutContent .content h3 {
  margin-top: 10px;
  font-size: 20px;
}
.aboutContent .content p {
  margin-top: 10px;
}
.aboutContent .content span a {
  text-decoration: none;
  font-size: 16px;
  animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    color: white;
  }
  100% {
    color: #212529;
  }
}
.aboutContent .change {
  display: block;
}
@media (max-width: 880px) {
  .container {
    max-width: 880px;
    width: 90%;
    background-color: #6195ed;
  }
  img {
    max-width: 800px;
    width: 80%;
    height: auto;
  }
  .aboutImages {
    margin: 0 20px;
  }
  .aboutImages .aboutImg {
    max-width: 150px;
    height: 200px;
    border: 1px solid blue;
    border-radius: 20px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    width: 100%;
    background-color: #6195ed;
  }
  img {
    max-width: 950px;
    width: 100%;
    height: auto;
  }
  .aboutImages {
    margin: 0 20px;
  }
  .aboutImages .aboutImg {
    max-width: 230px;
    height: 200px;
    border: 1px solid blue;
    border-radius: 20px;
  }
}
.navbar {
  display: flex;
  justify-content: baseline;
}
.navbar ul {
  display: flex;
}
.navbar .headerSpanAnchor {
  margin-left: 10px;
}
.navbar .headerAnchor {
  text-decoration: none;
  font-size: 16px;
  margin-left: 50px;
  color: white;
}
.navbar .headerAnchor:hover {
  background-color: #ddd;
  color: #000;
  border-radius: 10px;
  padding: 5px 10px;
}
.navbar .getStarted {
  text-decoration: none;
  font-size: 16px;
  margin-left: 50px;
  color: white;
  background: #8c97ab;
  border-radius: 10px;
  padding: 5px 10px;
}
.navbar .getStarted:hover {
  background-color: #ddd;
  color: #000;
  border-radius: 10px;
  padding: 5px 10px;
}
.navbar ul {
  margin: 8px 0 0 0;
  list-style: none;
}
#main {
  transition: margin-left 0.5s;
  padding: 20px;
  overflow: hidden;
  width: 90%;
  display: block;
  text-align: center;
}
#main h1 {
  font-size: 30px;
}
#main input {
  width: 200px;
  height: 35px;
  border-radius: 10px;
}
@media (max-width: 880px) {
  max-width: 880px;
  width: 100%;
  .navbar {
    max-width: 880px;
    width: 100%;
    display: flex;
    justify-content: baseline;
  }
  .navbar ul {
    display: flex;
  }
  .navbar .headerSpanAnchor {
    margin-left: 20px;
  }
  .navbar .headerAnchor {
    text-decoration: none;
    font-size: 22px;
    margin-left: 150px;
    color: white;
  }
  .navbar .getStarted {
    background: #8c97ab;
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 700px;
  }
  .navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
  }
  .navbar .headerAnchor:hover {
    background-color: #ddd;
    color: #000;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
@media (max-width: 1024px) {
  max-width: 1024px;
  width: 100%;
  .navbar {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: baseline;
  }
  .navbar ul {
    display: flex;
  }
  .navbar .headerSpanAnchor {
    margin-left: 20px;
  }
  .navbar .headerAnchor:nth-child(2) {
    color: red;
  }
  .navbar .headerAnchor {
    text-decoration: none;
    font-size: 22px;
    margin-left: 180px;
    color: white;
  }
  .navbar .headerAnchor:hover {
    background-color: #ddd;
    color: #000;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .navbar .getStarted {
    text-decoration: none;
    font-size: 22px;
    margin-left: 180px;
    color: white;
    background: #8c97ab;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .navbar .getStarted:hover {
    background-color: #ddd;
    color: #000;
    border-radius: 10px;
    padding: 5px 10px;
  }
  .navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
  }
}
.footer {
  max-width: 500px;
  width: 95%;
  margin-top: 20px;
  padding-bottom: 50px;
}
.footer .footerAnchor:first-child {
  margin-left: 20px;
}
.footer .footerAnchor {
  display: inline-flex;
  margin-left: 10px;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.footer .footerAnchor:hover {
  color: red;
}
@media (max-width: 880px) {
  .footer {
    max-width: 880px;
    width: 90%;
  }
  .footer .footerAnchor:first-child {
    margin-left: 10px;
  }
  .footer .footerAnchor {
    display: inline-flex;
    margin-left: 100px;
    color: white;
  }
  .footer .footerAnchor:hover {
    color: red;
  }
}
@media (max-width: 1024px) {
  .footer {
    max-width: 1024px;
    width: 90%;
  }
  .footer .footerAnchor {
    display: inline-flex;
    margin-left: 200px;
    color: white;
  }
  .footer .footerAnchor:hover {
    color: red;
  }
}
.demo {
  font-size: 18px;
}
.demo input {
  border: 1px solid black;
  width: auto;
  height: 20px;
}
.article {
  margin-top: 20px;
}
.getReminded {
  margin-top: 10px;
}
.getReminded h2 {
  margin-top: 20px;
}
.relaxe h2 {
  margin-top: 20px;
}
