* {
  box-sizing: border-box;
  margin: 0 20px;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: Overpass, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Overpass, cursive;
  margin: 0 20px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin: 0 20px;
}

img {
  max-width: 480px;
  width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: @cornflower;
}

///////////////////////////////////////////

.aboutImages {
  margin: 0 20px;

  .aboutImg {
    max-width: 105px;
    height: 100px;
    border: 1px solid blue;
    border-radius: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.aboutContent {
  text-align: left;
  margin-top: 20px;
  .content {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    display: none;

    h2 {
      margin-top: 20px;
    }
    h3 {
      margin-top: 10px;
      font-size: 20px;
    }
    p {
      margin-top: 10px;
    }
    span a {
      text-decoration: none;
      font-size: 16px;
      animation: pulse 1s infinite;
    }
  }
  @keyframes pulse {
    0% {
      color: white;
    }
    100% {
      color: @shark;
    }
  }
  .change {
    display: block;
  }
}

//////////////////////////////////////

@media @ipad {
  .container {
    max-width: 880px;
    width: 90%;
    background-color: @cornflower;
  }
  img {
    max-width: 800px;
    width: 80%;
    height: auto;
  }
  .aboutImages {
    margin: 0 20px;

    .aboutImg {
      max-width: 150px;
      height: 200px;
      border: 1px solid blue;
      border-radius: 20px;
    }
  }
}

@media @desktop {
  .container {
    max-width: 1024px;
    width: 100%;
    background-color: @cornflower;
  }
  img {
    max-width: 950px;
    width: 100%;
    height: auto;
  }
  .aboutImages {
    margin: 0 20px;

    .aboutImg {
      max-width: 230px;
      height: 200px;
      border: 1px solid blue;
      border-radius: 20px;
    }
  }
}
