* {
  box-sizing: border-box;
  margin: 0 20px;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: Overpass, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Overpass, cursive;
  margin: 0 20px;
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 1.8rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin: 0 20px;
}

img {
  max-width: 480px;
  width: 94%;
  height: auto;
  margin: 0 3%;
}

.container {
  max-width: 500px;
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: @cornflower;
}
#headDiv {
  display: flex;
  animation: pulse 2s infinite;
  margin-bottom: 1%;
  .div {
    height: 60px;
    width: 8%;
    padding: 1%;
    color: @shark;
    border: 1px solid black;
    text-align: center;
    font-size: 4rem;
    animation: pulse 1s infinite;
    .fa {
      transform: rotate(180deg);
      animation: rotate 0.8s infinite linear;
    }
    @keyframes rotate {
      0% {
        transform: rotate(-90deg);
      }
    }
  }
  .div12 {
    background: #b30086;
  }
  .div1 {
    background: #5200cc;
  }
  .div2 {
    background: #5200cc;
  }
  .div3 {
    background: #c299ff;
  }
  .div4 {
    background: #5200cc;
  }
  .div5 {
    background: #80ff80;
  }
  .div6 {
    background: #5200cc;
  }
  .div7 {
    background: #ff9999;
  }
  .div8 {
    background: #5200cc;
  }
  .div9 {
    background: #ff704d;
  }
  .div10 {
    background: #5200cc;
  }
  .div11 {
    background: #5200cc;
  }
  .div13 {
    background: #5200cc;
  }
}

@keyframes pulse {
  0% {
    color: #990033;
  }
  33% {
    color: @shark;
  }
  66% {
    color: #003399;
  }
  100% {
    color: #990033;
  }
}
@keyframes pulse {
  0% {
    color: #990033;
  }
  33% {
    color: @shark;
  }
  66% {
    color: #003399;
  }
  100% {
    color: #990033;
  }
}

.aboutImages {
  margin: 0 20px;

  .aboutImg {
    max-width: 18%;
    height: 80px;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.aboutMain {
  margin-top: 20px;
}
.aboutContent {
  text-align: left;
  margin-top: 20px;
  .content {
    margin-top: 10px;
    display: none;

    h2 {
      margin-top: 20px;
    }
    h3 {
      margin-top: 10px;
      font-size: 20px;
    }
    p {
      margin-top: 10px;
    }
    span a {
      text-decoration: none;
      font-size: 16px;
      animation: pulse 1s infinite;
    }
  }
  @keyframes pulse {
    0% {
      color: #990033;
    }
    33% {
      color: @shark;
    }
    66% {
      color: #003399;
    }
    100% {
      color: #990033;
    }
  }
}

.contact-article {
  .contactH1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: #664750;
    }
  }
}
/////////////////////////////
@media @desktop {
  .container {
    max-width: 880px;
    width: 100%;
  }

  img {
    max-width: 880px;
    width: 94%;
    height: auto;
    margin: 3%;
  }

  .aboutImages {
    margin: 0 20px;

    .aboutImg {
      max-width: 18%;
      height: 180px;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

//////////////////////////

@media @tablet {
  .container {
    max-width: 750px;
    width: 100%;
    background: @cornflower;
  }
}
/////////////////////////

@media @phablet {
  .container {
    max-width: 650px;
    width: 100%;
    background: @cornflower;
  }
  .aboutImages {
    margin: 0 20px;

    .aboutImg {
      max-width: 18%;
      height: 120px;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
