.demo {
  font-size: 18px;
  input {
    border: 1px solid black;
    width: auto;
    height: 20px;
  }
}

.article {
  margin-top: 20px;
}

.getReminded {
  margin-top: 10px;
  h2 {
    margin-top: 20px;
  }
}

.relaxe {
  h2 {
    margin-top: 20px;
  }
}
