.container {
  padding: 16px;

  .signButton {
    display: flex;
  }
  #signUp {
    max-width: 150px;
    margin-left: 30px;
    border-radius: 10px;
  }
  #signIn {
    max-width: 150px;
    margin-left: 50px;
    border-radius: 10px;
  }
  #signUpHidden {
    display: none;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }

  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
    border-radius: 10px;
  }

  // hr {
  //   border: 1px solid #f1f1f1;
  //   margin-bottom: 25px;
  // }
  button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    opacity: 0.9;
    border-radius: 10px;
  }

  button:hover {
    opacity: 1;
  }

  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  .cancelbtn,
  .signupbtn {
    float: left;
    width: 50%;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  .signinbtn {
    max-width: 210px;
  }
}
.toDo {
  margin-top: 20px;

  #whatToDo {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
  }
}

.demo {
  font-size: 18px;
  input {
    border: 1px solid black;
    width: auto;
    height: 20px;
  }
}
