#displayTime {
  text-align: center;
  padding: 1% 0;
  margin: 0;
}
.sidenav {
  height: 100%;
  width: 0;
  margin-top: 0;
  position: absolute;
  z-index: 0.2;
  top: 0;
  left: 0;
  background-color: @cornflower;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: @shark;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: @shark;
  }
}
#span {
  font-size: 30px;
  margin-left: 20px;
  &:hover {
    cursor: pointer;
  }
  .fa {
    transform: rotate(180deg);
    animation: rotate 0.8s infinite linear;
  }
  @keyframes rotate {
    0% {
      transform: rotate(-90deg);
    }
  }
}

#getStarted {
  font-size: 16px;
  text-decoration: none;
  margin: 0 0 100px 6px;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 4px 4px 0 4px;
  &:hover {
    background: gray;
  }
}
